
* {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

#camper {
    padding: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: olive;
    color: tan;
    text-align: center; 
} 